.caraousel-container{
  height: 600px;
  width: 900px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  position: relative;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  object-fit: cover;
  width: inherit;
}
.arrowdiv{
  width: 40px;
  height: inherit;
  background-color: rgba(15, 14, 14, 0.808);
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
}
.leftarrow{
  left: 0;
}
.rightarrow{
  right: 0;
}
.title{
  position: absolute;
  top: 30px;
  font-size: 60px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.arrowdiv:hover{
  background-color: rgba(62, 56, 56, 0.475);
}
.arrowdiv:active{
  background-color: rgb(117, 112, 112);
}
.caption{
  position: absolute;
  bottom: 40px;
  font-size: 35px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.white{
  color: white;
}